@use 'variables' as v;
@use 'mixins' as m;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: v.$color-fondo-body;
    text-align: center;
    font-weight: bold;
    @include m.sombra-oscura;
    font-size: 20px;
}