/* ========================================= */
/* ⚙️ RESET Y CONFIGURACIÓN BASE             */
/* ========================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: $color-fondo-body;
    text-align: center;
    font-weight: bold;
    @extend %sombra-oscura;
    font-size: 20px;
}