$font-orbitron: "Orbitron", system-ui;
$font-chelsea: "Chelsea Market", system-ui;
$font-black-ops: "Black Ops One", system-ui;

$color-blanco: #ffffff;
$color-hueso: antiquewhite;
$color-fondo-body: #464d46;
$color-texto-p: rgb(214, 219, 216);

$verde-borde: #034b01;
$verde-boton: rgb(33, 46, 33);
$verde-boton-hover: rgb(1, 68, 21);
$verde-brillo-alien: rgba(1, 170, 29, 0.8);