@use '../utilities/variables' as v;


%boton-base {
    font-family: v.$font-chelsea;
    color: v.$color-hueso;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease;
    border: 1px solid rgba(255, 255, 255, 0.192);
}


.botones {
    @extend %boton-base;
    background-color: v.$verde-boton;
    font-size: 14px; 
    letter-spacing: 1.5px; 
    padding: 12px 24px; 

    &:hover {
        background-color: v.$verde-boton-hover; 
    }

    
    @media (max-width: 768px) {
    .botones {
        width: 100%;             /* Obliga al botón a llenar su contenedor (el li) */
        padding: 8px 2px;        /* Bajamos el relleno lateral (2px) para que entre el texto */
        font-size: 11px;         /* Achicamos un poco la letra */
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;  /* Fundamental para que no se desborde */
        word-break: break-word;  /* Por si la palabra "Contactanos" es muy larga */
    }
}
}