@use '../utilities/variables' as v;


%boton-base {
    font-family: v.$font-chelsea;
    color: v.$color-hueso;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease;
    border: 1px solid rgba(255, 255, 255, 0.192);
}


.botones {
    @extend %boton-base;
    background-color: v.$verde-boton;
    font-size: 14px; 
    letter-spacing: 1.5px; 
    padding: 12px 24px; 

    &:hover {
        background-color: v.$verde-boton-hover; 
    }

    
    @media (max-width: 768px) {
    .botones {
        padding: 6px 8px; /* Relleno más ajustado */
        font-size: 11px;   /* Letra apenas más chica para que entren las palabras largas */
    }
}
}