/* ========================================= */
/* 🔻 NAV REDES UNIFICADO (Sirve para todo)  */
/* ========================================= */
@use '../utilities/variables' as v;

body.home .nav-redes,
.nav-redes {
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    transition: 0.2s ease;

    ul {
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-size: 16px;

        li {
            transition: 0.3s ease;
            filter: none;

            &:hover {
                filter: drop-shadow(10px 10px 20px rgb(243, 245, 243));
            }
        }
    }
}

.icono-redes {
    height: 5vh;
    width: auto;
    transition: 0.3s ease;
    padding-top: 30px;
    padding-bottom: 30px;
}

