@use '../utilities/variables' as v;

.home {
    background-color: #050805; 
    background-image: 
        linear-gradient(rgba(1, 170, 29, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(1, 170, 29, 0.05) 1px, transparent 1px);
    background-size: 40px 40px; 
    background-position: center center;
    background-attachment: fixed;
}

.imagenprincipal {
    max-width: 100%;
    height: auto;
    max-height: 30vh;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 20px rgb(37, 129, 1));
    transition: 0.2s ease;
    
    
    margin: 15px auto 40px auto;
    
    &:hover {
        transform: scale(1.01);
    }

    
    @media (max-width: 768px) {
        width: 100%;
        max-width: 330px;
        height: auto;
        display: block;
        object-fit: contain;
        margin: -10px auto 5px auto; 
    }
}

.nav-redes {
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    transition: 0.2s ease;
    width: 60px; 
    
    ul {
        display: flex;
        flex-direction: column;
        gap: 20px; 
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 100%;
        
        li {
            width: 100%;
            display: flex;
            justify-content: center;
            
            img.icono-redes {
                width: 45px;  
                height: 45px; 
                padding: 0;   
                display: block;
            }
        }
    }
    
    
    @media (max-width: 768px) {
        display: none;
    }
}





