/* ========================================= */
/* 📂 ESTILOS DE PÁGINA: CASOS (MENU)        */
/* ========================================= */
@use '../utilities/variables' as v;

main {
    ol {
        padding: 20px 0;
        margin: 0 auto;
        max-width: 800px; 

        li {
            list-style-type: none; 
            margin-bottom: 25px;   
            font-size: 24px;       
            
            .menuseleccion {
                font-family: v.$font-chelsea; 
                font-size: 30px;
                font-weight: bold;
                color: v.$color-hueso;
                text-align: center;           
                list-style-position: inside;  
                list-style-type: none;
                justify-content: center;                           
                transition: 0.2s ease; 
                display: inline-block; 

                &:hover {
                    filter: drop-shadow(10px 10px 20px rgba(243, 245, 243, 0.658));
                    transform: scale(1.03); 
                    color: v.$color-blanco; 
                }
            }
        }
    }
}